@font-face {
  font-family: 'violet';
  src: url('fonts/VioletSans-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

*, ::after, ::before {
    padding:0;
    margin:0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    font-size: 62.5%;
  }

  body {
    font-family: 'violet', Arial, Helvetica, sans-serif;
    color: black;
    background: url('images/miriam.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  }

  header {
      border-bottom: 0.55vw solid black;
      padding: 1%;
  }

  .title-subtitle {
      display: flex;
      justify-content: space-between;
  }

  section {
    border-bottom: 0.55vw solid black;
    padding: 1%;
  }

  section:last-of-type {
    border-bottom: 0px;
  }

  .archive-container {
      display: flex;
      justify-content: center;
      /* width: 100%; */
  }

  .archive-items {
      width: 100%;
      margin-top: 5%;
      padding: 1%;
  }

  #background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -100000000;
    background: black;
    mix-blend-mode: multiply;
    opacity: .8;
  }

  .archive-video {
      margin: 1%;
      width: 35% !important; 
      border: 0.55vw solid black;
  }

  #video-placeholder {
    display: flex;
    margin-top: 1%;
    padding: 1%;
  }

  #video-placeholder video {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    /* box-shadow: 0 0 18px 12px rgba(0,0,0,0.8); */
  }

  #recorded {
    display: inline-block;
    width: 100%;
  }

  h1.title {
      font-size: 5vw;
      font-weight: bold;
      text-align: center;
  }

  .title:hover {
    color: black;
  }

  h2.subtitle {
      flex-shrink: 5;
      font-size: 2.5vw;
      font-weight: bold;
      line-height: 2.25vw;
      color: black;
      width: 40%;
  }

  h2.archive {
    text-align: center;
    margin-top: 5%;
    font-size: 1.5vw;
    font-weight: bold;
    color: black;
    width: 25%;
}

  .mobile {
    font-size: 25px;
  }

.asterisk {
    font-size: 1.75vw !important;
  }

  nav {
      font-size: 3rem;
  }

  ul {
    display: flex;
    justify-content: space-between;
  }

  ul li {
    display: inline-block; 
  }

  a:link, a:active, a:visited {
      color: black;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
  }

  footer {
      width: 100%;
      position: fixed;
      bottom: 0;
  }

  .webcam, .stage {
      width: 100%;
      display: flex;
      justify-content: center;
  }

  .upload {
      width: 100%;
  }

  .upload-buttons {
    display: flex;
    justify-content: space-between;
  }

  button {
    cursor: pointer;
    color: black;
    background: rgb(70, 52, 38, 0.75);
    border: 0.55vw solid black;
    padding: 2%;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'violet', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.25vw;
    text-align: center;
  }